*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header section  start */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}
.special-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.explore-btn{
    margin-top:10px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right top, #eec511, #cea10e, #d49c0d, #b98e38, #fcb243);
}
.explore-btn:hover{
    background-image: linear-gradient(to right top, #b6b5af, #858481, #c2b698, #c7bba4, #ce7f09) ;
    color:rebeccapurple;

}
.hot{
    color: rgb(255, 255, 0);
}
.special-pera{
    font-size: 20px;
    font-weight:400;
}
/* header section end  */
/* our services  start */
.service-title{
    text-align: center;
    margin-top: 50px;
}
.service-icon img{
    width:100px;
    padding: 10px;
}
.service-container{
    width: 100%;
    height: 200px;
    display: flex; 
    justify-content:space-evenly;
    align-items: center;
    margin-top: 30px;  
}
.service{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin: 30px 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    background:pink;
}
.delivery-title{
    font-size: 25px;
    font-weight:700 ;
}
.service-pera{
    font-size: 20px;
    font-weight: 500;
}
/* our services end  */
/* our top rated products start */
.product-head{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.head-color{
    color: rgb(228, 151, 10);
}
.head{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bolder;
    margin-left:30px;
}
.product-container{
    width: 100%;
    display: flex;
    margin-top:0px;
}
.product{
    width: 100%;
    border-radius: 5px;
    margin: 30px 30px;
    margin-top: 50px;
    box-shadow: 10px 20px 30px grey;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
.product-btn{
    margin-left: 135px;
    margin-bottom: 15px;
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right top, #eec511, #cea10e, #d49c0d, #e67812, #f1bc6c);
}
.product-btn:hover{
    background-image: linear-gradient(to right top, #b6b5af, #858481, #c2b698, #c7bba4, #ce7f09) ;
    color:rebeccapurple;
}
/* our top rated products end  */
/* contact us start  */
.contact{
    margin-top: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .contact-btn{
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  color: white;
    background-image: linear-gradient(to right top, #eec511, #cea10e, #d49c0d, #e67812, #f1bc6c);
  }
/* contact us end  */
/* footer start  */
footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top:10px ;
}
